{% extends 'myapp1/base.html' %}

{% block title %}About{% endblock %}
{% load static %}

{% block content %}


    <style>
        .circle-text {
            width: 100%;
            display: flex;
            justify-content: flex-end;   /* Move content to the right */
            padding: 50px;
            box-sizing: border-box;
        }

        .paragraph-container {
            width: 500px;
            margin-right: 10px;      /* Distance from right edge */
            margin-top: -100px;       /* Move down */
            font-family: Arial, sans-serif;
            font-size: 20px;
            line-height: 1.5;
            text-align: justify;
        }

        .paragraph-container h1 {
            margin-bottom: 30px;
        }
    </style>

    <div class="circle-text">

        <div class="paragraph-container">

            <h1>About Me</h1>

            <p>
                I am a motivated and detail-oriented entry-level Software Developer and Quality Assurance professional with hands-on experience in Python, Django, Java, JavaScript, SQL, HTML, and CSS. I have knowledge of manual testing, API testing, and test automation using Selenium WebDriver. I am familiar with REST and SOAP APIs, Agile methodologies, SDLC, STLC, and tools such as Jira and ALM. Passionate about continuous learning and problem-solving, I am eager to contribute to developing and delivering high-quality software solutions.
            </p>

        </div>

</div>

{% endblock %}