{% extends 'myapp1/base.html' %}
{% load static %}

{% block title %}Resume{% endblock %}

{% block content %}


    <div style="text-align: right;">
       <a href="{% static 'files/Nourhene_Rhouma_CV.pdf' %}"
   download="Nourhene_Rhouma_CV.pdf"
   style="
      background-color: #007BFF;
      color: white;
      padding: 15px 30px;
      border-radius: 8px;
      text-decoration: none;
      font-weight: bold;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);">
        Download Resume
        </a>


</div>

{% endblock %}